<app-main-header></app-main-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 persona-edit-form-container">
      <div class="row persona-name-srtname-container">
        <div class="col-md-1 contentCls">
          <div class="user-icon-reactange">
            <i class="fas fa-user-tie fa-2x"></i>
          </div>
        </div>
        <div class="col-md-8 contentCls">
          <div class="simple-text-container" [ngClass]="{'required-error': (parsonaData.parsonaName=='' && isparsonaNameDirty)}">
            <div class="field-label">
              PERSONA NAME
              <span class="setting-icon" style="display:none;">
                <i class="fas fa-trash"></i>
              </span>
            </div>
            <div class="field-content" contenteditable="true" [textContent]="parsonaData.parsonaName" (input)="parsonaData.parsonaName=$event.target.textContent; parsonaData.parsonaInitials=parsonaData.parsonaName.substring(0, 3).toUpperCase();"
              (blur)="parsonaNameEdited()"></div>
          </div>
        </div>
        <div class="col-md-3 contentCls">
          <div class="simple-text-container" [ngClass]="{'required-error': (parsonaData.parsonaInitials=='' && isparsonaInitailsDirty)}">
            <div class="field-label">
              SHORT NAME
              <span class="setting-icon" style="display:none;">
                <i class="fas fa-trash"></i>
              </span>
            </div>
            <div class="field-content" contenteditable="true" [textContent]="parsonaData.parsonaInitials" (input)="parsonaData.parsonaInitials=$event.target.textContent"
              (blur)="parsonaInitailsEdited()">
              Tes
            </div>
          </div>
        </div>
      </div>
      <div class="row persona-edit-form2-container">
        <div class="col-md-4" cdkDropList id="firstList" [cdkDropListData]="parsonaData.leftPanel" [cdkDropListConnectedTo]="'secondList'"
          (cdkDropListDropped)="onDrop($event)">
          <div *ngFor="let item of parsonaData.leftPanel; let i = index" [ngSwitch]="item.type" cdkDrag [cdkDragDisabled]="isDragOn">
            <div class="drag-drop-placeholder" *cdkDragPlaceholder>Insert element here</div>
            <div class="simple-text-container contentMargin" *ngSwitchCase="'number'">
              <span class="setting-icon">
                <i class="fas fa-trash" (click)="deleteElement('leftPanel', i)"></i>
              </span>
              <div class="field-label" contenteditable="true" [textContent]="item.label" (click)="isDragOn = true;" (blur)="item.label=$event.target.textContent; contentChange()"></div>
              <div class="field-content" contenteditable="true" [textContent]="item.desc" (click)="isDragOn = true;" (blur)="item.desc=$event.target.textContent; contentChange()"></div>
            </div>

            <div class="simple-image-container contentMargin" *ngSwitchCase="'image'">
              <span class="setting-icon">
                <i class="fas fa-trash" (click)="deleteElement('leftPanel', i)"></i>
              </span>
              <div class="field-label" contenteditable="true" [textContent]="item.label" (click)="isDragOn = true;" (blur)="item.label=$event.target.textContent; contentChange()"></div>
              <div class="field-content-image">
                <img [src]="item.url" class="img-thumbnail" alt="Cinque Terre">
              </div>
            </div>

            <div class="simple-text-container contentMargin" *ngSwitchCase="'simpletext'">
              <span class="setting-icon">
                <i class="fas fa-trash" (click)="deleteElement('leftPanel', i)"></i>
              </span>
              <div class="field-label" contenteditable="true" [textContent]="item.label" (click)="isDragOn = true;" (blur)="item.label=$event.target.textContent; contentChange()"></div>
              <div class="field-content" contenteditable="true" [textContent]="item.desc" (click)="isDragOn = true;" (blur)="item.desc=$event.target.textContent; contentChange()"></div>
            </div>

            <div class="simple-image-container contentMargin" *ngSwitchCase="'images'">
              <span class="setting-icon">
                <i class="fas fa-trash" (click)="deleteElement('leftPanel', i)"></i>
              </span>
              <div class="field-label" contenteditable="true" [textContent]="item.label" (click)="isDragOn = true;" (blur)="item.label=$event.target.textContent; contentChange()"></div>
              <div class="field-content-image">
                <img *ngFor="let url of item.urls" [src]="url" class="img-thumbnail" alt="Cinque Terre">
              </div>
            </div>

            <div class="simple-rich-text-container contentMargin" *ngSwitchCase="'richtext'">
              <span class="setting-icon">
                <i class="fas fa-trash" (click)="deleteElement('leftPanel', i)"></i>
              </span>
              <div class="field-label" contenteditable="true" [textContent]="item.label" (click)="isDragOn = true;" (blur)="item.label=$event.target.textContent; contentChange()"></div>
              <div class="field-content">
                <app-ngx-editor [config]="editorConfig" [(ngModel)]="item.desc" (blur)="contentChange()" (focus)="isDragOn = true;"></app-ngx-editor>
              </div>
            </div>
          </div>

        </div>


        <div class="col-md-8" cdkDropList id="secondList" [cdkDropListData]="parsonaData.rightPanel" [cdkDropListConnectedTo]="'firstList'"
          (cdkDropListDropped)="onDrop($event)">
          <div *ngFor="let item of parsonaData.rightPanel let i = index" [ngSwitch]="item.type" cdkDrag [cdkDragDisabled]="isDragOn">
            <div class="drag-drop-placeholder" *cdkDragPlaceholder>Insert element here</div>
            <div class="simple-text-container contentMargin" *ngSwitchCase="'number'">
              <span class="setting-icon">
                <i class="fas fa-trash" (click)="deleteElement('rightPanel', i)"></i>
              </span>
              <div class="field-label" contenteditable="true" [textContent]="item.label" (click)="isDragOn = true;" (blur)="item.label=$event.target.textContent; contentChange()"></div>
              <div class="field-content" contenteditable="true" [textContent]="item.desc" (click)="isDragOn = true;" (blur)="item.desc=$event.target.textContent; contentChange()"></div>
            </div>
            <div class="simple-image-container contentMargin" *ngSwitchCase="'image'">
              <span class="setting-icon">
                <i class="fas fa-trash" (click)="deleteElement('rightPanel', i)"></i>
              </span>
              <div class="field-label" contenteditable="true" [textContent]="item.label" (click)="isDragOn = true;" (blur)="item.label=$event.target.textContent; contentChange()"></div>
              <div class="field-content-image">
                <img [src]="item.url" class="img-thumbnail" alt="Cinque Terre">
              </div>
            </div>

            <div class="simple-text-container contentMargin" *ngSwitchCase="'simpletext'">
              <span class="setting-icon">
                <i class="fas fa-trash" (click)="deleteElement('rightPanel', i)"></i>
              </span>
              <div class="field-label" contenteditable="true" [textContent]="item.label" (click)="isDragOn = true;" (blur)="item.label=$event.target.textContent; contentChange()"></div>
              <div class="field-content" contenteditable="true" [textContent]="item.desc" (click)="isDragOn = true;" (blur)="item.desc=$event.target.textContent; contentChange()"></div>
            </div>

            <div class="simple-image-container contentMargin" *ngSwitchCase="'images'">
              <span class="setting-icon">
                <i class="fas fa-trash" (click)="deleteElement('rightPanel', i)"></i>
              </span>
              <div class="field-label" contenteditable="true" [textContent]="item.label" (click)="isDragOn = true;" (blur)="item.label=$event.target.textContent; contentChange()"></div>
              <div class="field-content-image">
                <img *ngFor="let url of item.urls" [src]="url" class="img-thumbnail" alt="Cinque Terre">
              </div>
            </div>

            <div class="simple-rich-text-container contentMargin" *ngSwitchCase="'richtext'">
              <span class="setting-icon" (click)="deleteElement('rightPanel', i)">
                <i class="fas fa-trash"></i>
              </span>
              <div class="field-label" contenteditable="true" [textContent]="item.label" (click)="isDragOn = true;" (blur)="item.label=$event.target.textContent; contentChange()"></div>
              <div class="field-content">
                <app-ngx-editor [config]="editorConfig" [(ngModel)]="item.desc" (blur)="contentChange()" (focus)="isDragOn = true;"></app-ngx-editor>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <app-sidebar></app-sidebar>
  </div>
</div>