<nav class="navbar navbar-expand-lg app-nav-bar fixed-top">
  <a class="navbar-brand" href="#">
    <i class="fas fa-user app-user-icon"></i>
    <span class="persona-tess">Persona Tess</span>
    <i class="far fa-edit pencil-square-icon"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav app-nav-icons">
      <li class="text-center save-persona">
        <a href="#" data-toggle="collapse" data-target="#one">
          <i class="fas fa-save"></i>
          <br>
          <span>Save Persona</span>
        </a>
      </li>
      <li class="text-center save-persona">
        <a href="#" data-toggle="collapse" data-target="#one">
          <i class="fas fa-plus-square"></i>
          <br>
          <span>Add Element</span>
        </a>
      </li>
      <li class="text-center save-persona">
        <a href="#" data-toggle="collapse" data-target="#one">
          <i class="fas fa-share"></i>
          <br>
          <span>Export</span>
        </a>
      </li>
      <li class="text-center save-persona">
        <a href="#" data-toggle="collapse" data-target="#one">
          <i class="fas fa-copy"></i>
          <br>
          <span>Duplicate</span>
        </a>
      </li>
      <li class="text-center save-persona">
        <a href="#" data-toggle="collapse" data-target="#one">
          <i class="fas fa-arrow-right"></i>
          <br>
          <span>Move</span>
        </a>
      </li>
      <li class="text-center save-persona">
        <a href="#" data-toggle="collapse" data-target="#one">
          <i class="fas fa-question-circle"></i>
          <br>
          <span>Help</span>
        </a>
      </li>
      <li class="text-center save-persona">
        <a href="#" data-toggle="collapse" data-target="#one">
          <i class="fas fa-ellipsis-h"></i>
          <br>
          <span>More actions</span>
        </a>
      </li>
    </ul>
  </div>